<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".notification.NotificationTemplateSamplerActivity"
            android:exported="true"
            android:label="Bill 通知模板采样（Debug）"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bill">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
